.background-aboutUs {
  position: relative;
}

.background-aboutUs::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../assets/cinema.jpg");
  background-position: center;
  background-size: cover;
  opacity: 0.6;
}

.about-us-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  color: white;
  position: relative;
  z-index: 1;
}

.about-us-container h1 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #fff;
}

.about-us-container p {
  font-size: 1.2em;
  line-height: 1.6;
  margin-bottom: 10px;
  color: #fff;
}

.about-us-container a {
  color: #fff;
}

.about-us-container .home-link {
  color: #fff;
}
