.contact-container::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../assets/backgl.jpg");
  background-position: center;
  background-size: cover;
  opacity: 0.6;
  z-index: -1;
}

.contact-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
}

.contact-container h1,
p {
  color: white;
}
.contact-info {
  margin-bottom: 20px;
}

.contact-info p {
  margin-bottom: 10px;
}

.contact-form {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
}

.contact-form h2 {
  margin-bottom: 10px;
}

.contact-form .form-group {
  margin-bottom: 10px;
}

.contact-form label {
  display: block;
  margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.contact-form button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #0056b3;
}
